certifi==2020.12.5
chardet==4.0.0
gunicorn==20.1.0
idna==2.10
netifaces==0.10.9
psycopg2-binary==2.8.6
PyQt5==5.15.2
PyQt5-sip==12.8.1
Quamash==0.6.1
radar-client==0.1.9
radar-server==0.1.5
requests==2.25.1
trie-memoize==0.1.1
urllib3==1.26.2
virtscreen==0.3.1
